@page "/worktime"
@using workTimeTracker
@rendermode InteractiveServer

<h3>Work time</h3>

<p role="status">Current time: @TimeOnly.FromDateTime(DateTime.Now)</p>

<button class="btn btn-primary" @onclick="StartDay">Start day</button>

<p role="status">Start time: @workDay.StartTime</p>

@code {
    CurrentWorkDay workDay = new CurrentWorkDay();

    private void CurrentTime()
    {
        workDay.CurrentTime = TimeOnly.FromDateTime(DateTime.Now);
    }

    private void StartDay()
    {
        workDay.StartTime = TimeOnly.FromDateTime(DateTime.Now);
    }
}
